* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: linear-gradient( to right, rgba(0, 3, 5, 0.52), rgba(1, 24, 32, 0.73)), url(./image.png); */
    background-image: url("http://3.bp.blogspot.com/-hpEwUqmCVuQ/UKOASYX7OcI/AAAAAAAABDM/WpIs9wuRuW0/s1600/burj_al_arab_hotel_wallpaper_united_arab_emirates_world-1024x768.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}